.usp-item {
    box-sizing: border-box;
    width: min(60%, 24ch);
}

.usp-item-headline {
    font-size: 2.25rem;
    letter-spacing: 2px;
    margin-block: 0;
    font-family: 'Permanent Marker', cursive;
}

.usp-item-content {
    font-size: clamp(0.8rem, 3vw, 1.5rem);
    color: var(--primary-text-color-toned-down);
    margin-block: 0.5rem;
}

@media (min-width: 768px) {
    .usp-item {
        width: 36ch;
    }

    .usp-item:nth-child(odd) {
        align-self: flex-start;
    }

    .usp-item-headline {
        font-size: 2.375rem;
    }
}