.usp-list-wrapper {
    position:  relative;
    inset: 0;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    justify-content: space-around;
    align-items: flex-end;
    overflow: hidden;
    z-index: 3;
}