.usp-wrapper {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.usp-item {
    box-sizing: border-box;
    width: min(60%, 24ch);
}

.usp-item-headline {
    font-size: 2.25rem;
    letter-spacing: 2px;
    margin-block: 0;
    font-family: 'Permanent Marker', cursive;
}

.usp-item-content {
    font-size: clamp(0.8rem, 3vw, 1.5rem);
    color: var(--primary-text-color-toned-down);
    margin-block: 0.5rem;
}

@media (min-width: 768px) {
    .usp-item {
        width: 36ch;
    }

/*     .usp-item.even {
        align-self: flex-end;
    } */

    .usp-item-headline {
        font-size: 2.375rem;
    }
}