.usp-wrapper {
    position: fixed;
    inset: 0;
    max-width: var(--global-content-max-width);
    margin-inline: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.usp-item {
    box-sizing: border-box;
    width: min(60%, 24ch);
    margin: 1.2rem;
    padding: 1.2rem;
}

.usp-item-headline {
    font-size: 1.5rem;
    margin-block: 0;
}

.usp-item-content {
    font-size: clamp(0.8rem, 3vw, 1.5rem);
    color: var(--primary-text-color-toned-down);
    margin-block: 0.5rem;
}

@media (min-width: 768px) {
    .usp-item {
        width: 36ch;
    }

/*     .usp-item.even {
        align-self: flex-end;
    } */

    .usp-item-headline {
        font-size: 3rem;

    }
}