.usp-wrapper {
    position: fixed;
    inset: 0;
    max-width: var(--global-content-max-width);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    pointer-events: none;
}

.usp-item {
    box-sizing: border-box;
    margin: 5rem 1.2rem 0;
    padding: 1.2rem;
    width: clamp(24ch, 90vw, 36ch);
    text-align: center;
}

.usp-item-headline {
    font-size: 2.8rem;
    color: var(--color-text-super-light-purple);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-block: 0.5rem;
    font-family: 'Oswald', sans-serif;
}

.usp-item-content {
    font-size: clamp(0.8rem, 3vw, 1.5rem);
    color: var(--color-text-light-purple);
    margin-block: 0.5rem;
    line-height: 1.8;
}

@media (min-width: 768px) {
    .usp-wrapper {
        justify-content: flex-start;
        align-items: center;
    }

    .usp-item {
        margin: 1.2rem;
        text-align: left;
        width: clamp(24ch, 90vw, 48ch);
    }

    .usp-item-headline {
        font-size: 3.5rem;
    }
}