.usp-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    overflow: hidden;
    height: 100%;
}

.usp-list-mask {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    mask-image: linear-gradient(to top, transparent, black, transparent);
}