.stage-wrapper {
    position: relative;
    height: 100dvh;
}

.stage-content {
    position: absolute;
    inset: 20% 0 0;
    z-index: 3;
    line-height: 1.6;
}

.stage-headline {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: clamp(4rem, 12vw, 10rem);
    margin-block: 0;
    hyphens: word;
    word-break: normal;
    letter-spacing: 2px;
    color: white;
}

#copyright {
    font-size: clamp(1.4rem, 8vw, 3rem);
    font-family: 'PT Sans', Arial, sans-serif;
    vertical-align: top;
}

.stage-subline {
    margin: 3rem 0 0;
    font-size: clamp(1rem, 4vw, 1.4rem);
    color: var(--color-text-super-light-purple);
    width: 50%;
}

@media (min-width: 768px) {
    .stage-content {
        inset: 25% 0 0 35%;
    }

    .stage-subline {
        margin: 3.5rem 0 5rem;
        width: 100%;
    }
}