.stage-wrapper {
    position: relative;
    height: 90dvh;
}

.stage-content {
    position: absolute;
    inset: 2.25rem 0;
    z-index: 3;
}

.stage-headline {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: clamp(4rem, 12vw, 10rem);
    margin-block: 0;
    hyphens: word;
    word-break: normal;
    letter-spacing: 2px;
    color: white;
}

#copyright {
    font-size: 12px;
    vertical-align: clamp(3rem, 9vw, 7.5rem);
}

.stage-subline {
    margin: 3rem 0 0;
    font-size: 1.4rem;
    color: var(--color-text-super-light-purple);
    width: 48%;
}

@media (min-width: 768px) {
    .stage-subline {
        line-height: 1.8;
    }
}

@media (min-width: 1024px) {
    .stage-content {
        inset: 25% 0 0 35%;
    }

    .stage-subline {
        margin: 3.5rem 0 5rem;
        width: 100%;
        line-height: 1.7;
    }
}