.hero-section {
    position: relative;
    z-index: 2;
}

.animation-section {
    position: relative;
    inset: 0;
    z-index: 1;
    height: 300dvh;
}

.home-hero-content {
    position: relative;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
