.animation-section {
    position: relative;
    inset: 0;
    z-index: 1;
    height: 300dvh;
    pointer-events: none;
}

.hero-section {
    position: relative;
    z-index: 4;
}

.section-kicker {
    font-size: var(--font-size-s);
    text-transform: uppercase;
    margin-block: 0.5rem;
    /* color: var(--color-secondary); */
    color: rgba(255, 255, 255, 0.644);
    letter-spacing: 2px;
}
