.btn-bg-translucent {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.stage-button {
    color: var(--color-text-super-light-purple);
    margin-top: 1.5rem;
    border-radius: var(--border-radius-clickable);
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 3px;
    padding: 1.1rem 4rem 1.2rem;
    text-transform: uppercase;
}
