.stage-button {
    color: var(--color-text-super-light-purple);
    margin-top: 1rem;
    border-radius: var(--border-radius-xl);
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 3px;
    padding: 1.2rem 2rem;
    text-transform: uppercase;
    width: 100%;
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.glow-on-hover:hover {
    box-shadow: 0 0 98px #ff1a4c, 0 0 42px #ff335f, 0 0 22px #ffd4dc;
    color: var(--color-text-super-light-pink);
    background: rgba(61, 16, 32, 0.4);
    transform: translateY(1px);
}

.stage-button > span {
    display: inline-block;
    margin-left: .2em;
    height: 1em;
    width: 1em;
}

@media (min-width: 600px) {
    .stage-button {
        width: max(45%, 250px);
    }
}
