.stage-button {
    color: var(--color-text-light-purple);
    margin-top: 1.5rem;
    border-radius: var(--border-radius-clickable);
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 3px;
    padding: 1.2rem 2rem;
    text-transform: uppercase;
    width: 100%;
    pointer-events: auto;
    box-shadow: 0 0 3px var(--color-text-light-purple);
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.glow-on-hover:hover {
    box-shadow: 0 0 16px var(--color-text-light-purple);
    color: var(--color-text-super-light-purple);
    background: rgba(0, 0, 0, 0.46);
}

@media (min-width: 600px) {
    .stage-button {
        width: max(60%, 250px);
    }
}
