.lipstick-line-wrapper {
    position: fixed;
    inset-inline: -20%;
    inset-block: 0;
    transition: opacity 240ms ease;
    pointer-events: none;
    z-index: 2;
}

.lipstick-line-wrapper.hidden {
    opacity: 0;
}
