

.reviews-container {
    --glow-size: 1rem;
    padding-block: 1.5rem;
    padding-inline: 2rem;
    box-sizing: border-box;
}

.reviews-grid {
    --grid-max-col-count: 3;
    --grid-min-col-size: 200px;
    --grid-gap: 1.2rem;
    --grid-padding-inline: 2rem;

    --grid-col-size-calc: calc(
        (100% - var(--grid-gap) * (var(--grid-max-col-count) - 1)) /
        var(--grid-max-col-count)
    );

    display: grid;
    gap: var(--grid-gap);
    grid-auto-flow: column;
    grid-auto-columns: var(--grid-col-size-calc);    
    padding-block: var(--glow-size);
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.review-box {
    padding: 1.5rem;
    color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    scroll-snap-align: center;
}

.review-image {
    width: 50px;
    height: 50px;
    margin-inline: auto;
    padding-bottom: 0.5rem;
}

.review-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.review-title {
    font-weight: 600;
    color: white;
}

.review-content {
    flex: 1;
}

.review-author {
    font-style: italic;
    font-size: 0.875em;
    height: 2.625rem;
    margin-top: 0;
}

/* glowing-border */

.glowing-border {
    --glow-intensity: 0.125;
    
    --border-width: 2px;
    position: relative;
    isolation: isolate;
    border: var(--border-width) solid transparent;
    background: 
        linear-gradient(var(--background-color, canvas) 0 0) padding-box,
        linear-gradient(45deg, #ff6f91, #8d2f45) border-box;
}

.glowing-border::before,
.glowing-border::after {
    content: '';
    position: absolute;
}

.glowing-border::before {
    z-index: -1;
    background: var(--background-color, canvas);
    inset: 0.5rem;
    filter: blur(var(--glow-size, 1rem));
}

.glowing-border::after {
    z-index: -2;
    inset: -0.5rem;
    background: linear-gradient(45deg, #ff6f91, #8d2f45) border-box;
    filter: blur(var(--glow-size, 1rem));
    opacity: var(--glow-intensity, 0.125);
}

