.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    backdrop-filter: blur(5px);
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.75rem;
    margin-inline: auto; 
    max-width: var(--global-content-max-width);
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list-item {
    display: inline;
    margin-inline-start: 1.5rem;
    padding: 8px;
}