.lipstick-line-wrapper {
    position: fixed;
    inset: 0;
    transition: opacity 240ms ease;
    pointer-events: none;
}

.lipstick-line-wrapper.hidden {
    opacity: 0;
}

#lipstick-line {
    width: 100%;
}