.top-bar-border {
    border-bottom: 1px solid #eee;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.75rem;
    margin-inline: auto; 
    max-width: var(--global-content-max-width);
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list-item {
    display: inline;
    margin-inline-start: 1.5rem;
    padding: 8px;
}