.stage-wrapper {
    position: absolute;
    inset: 0px;
}

.stage-content {
    position: relative;
    padding-top: 100px;
}

.stage-headline {
    font-family: 'Sedgwick Ave', cursive;
    font-weight: 700;
    font-size: clamp(4rem, 20vw, 10rem);
    line-height: 1.2;
    margin-block: 0.4em;
    text-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.stage-subline {
    margin-block: 1.5rem;
    font-size: larger;
}