.stage-wrapper {
    position: absolute;
    inset: 0px;
    height: 100vh;
    width: 100vw;
}

.stage-content {
    position: relative;
    margin-top: 14%;
    margin-left: 5%;
}

.stage-headline {
    font-size: 5rem;
    text-transform: lowercase;
    font-family: 'Panchang', Arial, sans-serif;
    margin-block: 0.75em;
    text-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.stage-subline {
    margin-block: 1.5rem;
}