.stage-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100dvh;
}

.stage-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.stage-headline {
    font-family: 'Permanent Marker', cursive;
    font-size: clamp(2.9rem, 14vw, 5.8rem);
    line-height: 1.2;
    margin-block: 0.4em;
    text-shadow: 0 4px 16px rgba(0,0,0,0.15);
    hyphens: word;
    word-break: normal;
}

.stage-subline {
    margin-block: 1.5rem;
    font-size: larger;
    color: var(--primary-text-color-toned-down);
}


@media (min-width: 768px) {
    .stage-content {
        max-width: 60%;
    }    
}