.stage-wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: 43% 57%;
    place-items: center;
    inset: 0px;
}

.stage-content {
    grid-column: 2;
    overflow-wrap: break-word;
    hyphens: auto;
}

.stage-headline {
    font-family: 'Permanent Marker', cursive;
    font-size: clamp(2.8rem, 12vw, 5.8rem);
    line-height: 1.2;
    margin-block: 0.4em;
    text-shadow: 0 4px 16px rgba(0,0,0,0.15);
    hyphens: word;
    word-break: normal;
}

.stage-subline {
    margin-block: 1.5rem;
    font-size: larger;
    color: var(--primary-text-color-toned-down);
}