.usp-list-wrapper {
    position: absolute;
    inset: 0;
}

.usp-item {
    position: absolute;
    max-width: 35%;
    padding: '1rem';
}

.usp-item.left {
    left: 0;
}

.usp-item.right {
    right: 0;
}

.usp-item-headline {
    font-size: 2.375rem;
    letter-spacing: 2px;
    margin-block: 0;
    font-family: 'Permanent Marker', cursive;
}

.usp-item-content {
    font-size: 1.25rem;
    color: #999;
    margin-block: 0.5rem;
}