.usp-list-wrapper {
    position:  relative;
    inset: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: start;
    overflow: hidden;
    z-index: 3;
}