.usp-list-wrapper {
    position: absolute;
    inset: 0;
}

.usp-item {
    position: absolute;
    max-width: 35%;
    padding: '1rem';
}

.usp-item.left {
    left: 0;
}

.usp-item.right {
    right: 0;
}

.usp-item-headline {
    font-size: 3.5rem;
    margin-block: 0;
    font-family: 'Caveat', cursive;
    font-weight: 500;
    font-style: italic;
}

.usp-item-content {
    font-size: 1.25rem;
    color: #999;
    margin-block: 0.5rem;
}