.usp-animation {
    position: absolute;
    max-width: 35%;
    padding: '1rem';
}

.usp-headline {
    font-size: 2.75rem;
    margin-block: 0;
    /* font-family: 'Panchang'; */
    font-family: 'Candal', Arial, sans-serif;
    font-weight: 500;
    /* text-transform: lowercase; */
}

.usp-content {
    font-size: 1.25rem;
    color: #999;
    margin-block: 0.5rem;
}