.footer-logo {
    padding-right: 2rem;
    max-width: 8rem;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-auto-rows: auto;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.footer-nav-list {
    list-style: none;
    margin-block: 0.75rem;
    padding: 0;
}

.footer-column {
    margin-block: 0.875rem;
}

.footer-nav-list-item {
    padding-block: 0.3rem;
    margin-block: 0.2rem;
}

.footer-nav-link {
    color: inherit;
    text-decoration: none;
}

.footer-nav-link:hover {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 2px;
}
