.footer-social {
    display: flex;
    justify-content: flex-end;
}

.footer-social > * {
   padding: 0.5rem;
   margin-left: 0.25rem;
   font-weight: 700;
   font-size: 0.9rem;
}

.footer-main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-auto-rows: auto;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.footer-line-bottom {

}

.footer-column {
    position: relative;
    padding: 0;
    margin-block: 0.875rem;
}

ul.footer-column {
    list-style: none;
}

.footer h2 {
    margin-block: 0;
    font-size: 1rem;
    text-transform: uppercase;
    
}

.footer-bottom-menu {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-block: 0;
}

.footer-bottom-menu .footer-item {
    display: flex;
    margin-left: 20px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-block: 1.5rem;
    font-size: var(--font-size-xs);
}

.footer-bottom-container {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    padding-block: 0.4rem;
}

.footer-item:has(a):hover  {
    transform: translateY(-1px);
}

.footer-nav-link {
    color: inherit;
}

.footer-nav-link:hover {
    color: inherit;
}

.footer-column .title {
    text-align: right;
}


