.lipstick-animation-wrapper {
    position: absolute;
    height: 300vh;
    width: 100%;
    z-index: 6;
}

#lipstick-canvas {
    position: sticky;
    inset: 0;
    z-index: 7;
    pointer-events: none;
}
