#root {
  width: 100%;
  --global-content-max-width: 1080px;
}

.viewport-content {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 90%;
  max-width: var(--global-content-max-width);
}
